@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    padding: 50px;
    line-height: 1.4;
    color: var(--dark);

}

img{
    width: 100%;
    display: block;
}
.container{
    margin: 0 auto;
    padding: 0 1.2rem;
}



.blog{
    padding: 5rem 0;
}

.blog-content{
    display: flex;
    
}
.title{
    text-align: center;
}
.blog-item{
    padding: 50px;
}
